<div class="hu">
    <p class="pun">Discover new courses, careers and more…</p>

    <div class="iop">
        <p class="jui">Course Categgories</p>
    </div>
    <div class="lui"> 
        <div class="du">
            <!-- <span
                class="ui-carousel-button ui-carousel-next-button pi pi-arrow-circle-right ui-state-disabled ng-star-inserted"
                ng-reflect-klass="ui-carousel-button ui-carousel" ng-reflect-ng-class="[object Object]"></span> -->
            <div class="bul">
                <p>Personality Development</p>
                <img _ngcontent-ymi-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/categoryImages/personality+development.png"
                    class="ng-star-inserted">
            </div>
        </div>

        <div class="du">
            <div class="bul">
                <p>Accounting</p>
                <img _ngcontent-ymi-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/categoryImages/Accounting.png"
                    class="ng-star-inserted">
            </div>
        </div>

        <div class="du">
            <div class="bul">
                <p>Cyber Security</p>
                <img _ngcontent-ymi-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/categoryImages/cyber+security.png"
                    class="ng-star-inserted">
            </div>
        </div>

        <div class="du">
            <div class="bul">
                <p>Digital Marketing</p>
                <img _ngcontent-ymi-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/categoryImages/digital+marketing.png"
                    class="ng-star-inserted">
            </div>
        </div>

        <div class="du">
            <div class="bul">
                <p>Graphic Design</p>
                <img _ngcontent-ymi-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/categoryImages/graphic+design....png"
                    class="ng-star-inserted">
            </div>
        </div>

        <div class="du">
            <div class="bul">
                <p>IT & Software</p>
                <img _ngcontent-ymi-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/categoryImages/it+%26+software.png"
                    class="ng-star-inserted">
            </div>
        </div>
    </div>


    <div class="hi">
        <div class="bal">
            <div class="shal">
                <p _ngcontent-ymi-c8="" class="circle"></p>
                <div class="o">
                    <div class="van">100,000 online courses</div>
                    <div class="van">Explore a variety of fresh topics</div>
                </div>

                <div class="shal">
                    <p _ngcontent-ymi-c8="" class="circle"></p>
                    <div class="o">
                        <div class="van">
                            Expert instruction</div>
                        <div class="van">Find the right instructor for you</div>
                    </div>

                    <div class="shal">
                        <p _ngcontent-ymi-c8="" class="circle"></p>
                        <div class="o">
                            <div class="van">Lifetime access</div>
                            <div class="van">Learn on your schedule</div>
                        </div>

                        <div class="shal">
                            <p _ngcontent-ymi-c8="" class="circle"></p>
                            <div class="o">
                                <div class="van">Convenient & Safe</div>
                                <div class="van">Learn at the comfort & safety of your home</div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
       <div class="bill">
           <p>LIVE CLASS</p>
       </div>

       <!-- <div class="ui">
           <div class="win">
            <img _ngcontent-ymi-c9="" src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/87466Interview Technique.jpg" class="ng-star-inserted">
           <p class="hitm">Interview Techniques</p>
           <p class="hitm">& Body Language</p>
           <p class="hitm">₹999</p>
        </div>
       </div> -->
  </div>

