.dir{
    background-color: #262746;
    height: 120vh;
    width: 100%;
    margin-top: 20px;
}

.bir{
    padding-top: 30px;
    margin-left: 5%;
}

.pin{
    background: #1d1e3e;
    width: 90%;
    height: 30px;

}
.jui{
    color: white;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
   font-family: sans-serif;
}

.nit{
    box-shadow: 0 3px 6px #000;
    background: #1d1e3e;
    width: 90%;
    height: 460px;
}

.uiy{
    display: flex;
}

.bin{
    width: 35%;
}

.ditn{
//    width: 50%;
    color: white;
}

.drt{
    padding-top: 40px;
    margin-left: 30px;
}
.drt img{
    border-radius: 50%;
}

.uy{
    margin-left: 60px;
    color: white;
    padding-top: 10px;
}

.uy span{
    font-size: 20px;
    color: #ff5a5a;
}

.done{
    color: white;
    margin-left: 45px;
}

.hui{
    display: flex;
    flex-direction: column;
    // padding-top: 15px;
    padding: 20px;
}

.hui span{
    color: red;
    height: 20px;
}

.hui input{
    margin-top: 10px;
     width: 350px;
     border-radius: 5px;
     padding: 0px 5px;
     height: 30px;
}


.byt{
    background-color: #e08e0b;
    width: 70%;
    height: 30px;
    margin-top: 30px;
    margin-left: 10%;
}

.dil{
    display: flex;
    padding-top: 5px;
    font-weight: 700;
}

.piok{
  width: 60%;
  margin-left: 5px;
}

.darrn{
    box-shadow: 0 3px 6px #000;
    background: #1d1e3e;
    display: flex;
    width: 70%;
    margin-left: 10%;
    height: 30px;
    color: white;
    padding-top: 5px;
    margin-top: 3px;
    border-top: 1px solid white;
}

.diln{
    width: 60%;
    margin-left: 5px;
}

.oi{
    text-align: right;
    padding-top: 40px;
   margin-right: 3%;
}

.oi img{
width: 15%;


background: #fff;
}

.white{
    color: white;
    max-width: 300px;
   font-size: 17px;
   margin-left: 79%;
}

.vw{
    display: flex;
}
.huy{
   color: white;
   padding-top: 10px;
   margin-left: 6px;
   width: 50%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.huy a{
    color: #3c8dbc;
    text-decoration: none;
}

.bil{
  text-align: right;
  width: 50%;
  color: white;
  padding-top: 10px;
  margin-right: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bil a{
    color: #3c8dbc;
    text-decoration: none;
}