<div class="dir">
    <div class="bir">
        <div class="pin">
            <p class="jui">Profile</p>
        </div>
        <div class="nit">
            <div class="uiy">
                <div class="bin">
                    <div class="drt">
                        <img _ngcontent-vks-c14="" src="http://app.prideeducare.com/assets/img/dummy_img.png">
                    </div>

                    <h4 class="uy">Upload Profile pic <span>*</span></h4>
 
                   <div class="done">
                    <input type="file" id="myfile" name="myfile" multiple>
                   </div>
                </div>

                <div class="ditn">
                    <div class="hui">
                        <label>Student Name <span>*</span></label>
                        <input type="text" placeholder="Huaifa Taufique Dabir">
                    </div>

                    <div class="hui">
                        <label>Contact No <span>*</span></label>
                        <input type="contact" placeholder="8291700924">
                    </div>

                    <div class="hui">
                        <label>PinCode <span>*</span></label>
                        <input type="number" placeholder="400008">
                    </div>
                </div>

                <div class="ditn">
                    <div class="hui">
                        <label>Address <span>*</span></label>
                        <input type="address" placeholder="Mumbai">
                    </div>

                    <div class="hui">
                        <label>Email <span>*</span></label>
                        <input type="email" placeholder="huzaifadabir10@gmail.com">
                    </div>

                    <div class="hui">
                        <label>Qulification <span>*</span></label>
                        <input type="text" placeholder="Diploma">
                    </div>
                </div>

                 
            </div>
            <div class="byt">
                <div class="dil">
                    <p class="piok">Course Name</p>
                    <p class="pek">Completed Lecture</p>
                </div>
            </div>

            <div class="darrn">
                <div class="diln">JavaScript</div>
                <div class="num">0/10</div>
            </div>

            <div class="darrn">
                <div class="diln">Python</div>
                <div class="num">0/10</div>
            </div>
        </div>

       
    </div>

    
    <div class="uyt">
        <div class="oi">
            <img src="	http://app.prideeducare.com/assets/site-logo-png.png">
            <p class="white">1/2 Kapadia Chambers, Ground Floor, Old Nagardas Road, Andheri East, Mumbai 400069</p>
        </div>
    </div>

    <div class="vw">
        <div class="huy">
            © 2020 <a routerLink="/">PRIDE EDUCARE.</a> All rights reserved.
        </div>

        <div class="bil">
            Powered by <a>WEQ Technologies</a>
        </div>
    </div>
 
</div>
