<div class="dal">
    <div class="bal">
       <span class="opp">
           	
<a routerLink="/register"><i class="fa fa-arrow-left"></i></a>
       </span>
       <div class="nut">
       <img src="https://cdn.razorpay.com/logos/FGQ6uyWQcosHrK_medium.jpg" width="0" alt="Merchant Logo">
    </div>
    <div class="pand">Pride</div>
    </div>
</div>


<div class="bunt">
    <div class="dut">
        <hr class="benefits-hr">
       <div class="header">Select a payment method</div>
      <div class="iop">
        <div class="vrt">
        <span class="card"><i class="fa fa-credit-card"></i></span>
        <div class="strong">
         Credit/Debit Card
         <div class="pin">Visa, Mastercard, Maestro, Rupay</div></div>
  </div>

  <div class="vrt">
    <span class="card"><img class="hh66CardImg" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/fdHome.ba2c5441.svg" width="49" height="49" alt="FD - Groww"></span>
    <div class="strong">
        Netbanking
     <div class="pin">Pay with Internet Banking Account</div></div>
</div>

<div class="vrt">
    <span class="card"><i class="fa fa-google-wallet"></i></span>
    <div class="strong">
        Wallet
     <div class="pin">Pay using a Wallet</div></div>
</div>

<div class="vrt">
    <span class="card">	
        <i class="fa fa-cc-paypal"></i></span>
    <div class="strong">
     PAYPAL
     <div class="pin">Pay using BHIM, Tez and other UPI apps</div></div>
</div>
 </div> 
   
  </div>
   
      
    
       


<div class="sut">
    <div class="dun">
        <p class="poi">Amount payable is</p>
        <span class="sun">₹4,000</span>
        <hr class="color">
    </div>

    <div class="gat">
        <p class="pik">Pay with Credit/Debit Card</p>

        <div class="dul">
            <label class="cart">Card Number</label>
            <input type="text" name="" placeholder="">
        </div>

        <div class="bin">
            <div class="verna">
            <label class="cart">Expiry Date</label>
          <input type="tel" name="card[expiry]" placeholder="MM / YY"> 
            </div>

            <div class="uiok">
                <label class="cart">CVV</label>

                <input type="password" name="card[cvv]" placeholder="***">
            </div>
        </div>

        <div class="dus">
            <label class="cart">Cardholder's Name</label>
            <input type="text" name="" placeholder="">
        </div>

        <div class="dil">
            <button class="btn">PAY NOW</button>

            <p class="pink">Cancel Payment</p>
        </div>
    </div>
     
    <div class="darr">
        Powered by
        <img src="https://cdn.razorpay.com/logo.svg" alt="Razorpay">
    </div>
</div>

</div>


<div class="sher">
    <img src="https://cdn.razorpay.com/static/assets/visa_mc_pc.png" alt="visa-mastercard-pc_compliant">
  <p class="ou">Accept, process and disburse digital payments for your business.</p>
  <img src="https://cdn.razorpay.com/logo.svg" alt="Razorpay">
</div>




