

.dal{
    background: #528FF0;
    height: 240px;
    width: 100%;
    margin-left: -8px;
   
}



.bal{
    padding-top: 80px;
     max-width: 50%;
     margin: auto;
     display: flex;
}


.opp{
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding-top: 15px;
}

.nut img{
    width: 48%;
    height: 100%;
}
.nut{
    margin-left: 10px;
}


.pand{
    color: white;
    padding-top: 20px;
    margin-left: -50px;
    font-size: 25px;
}



.bunt{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // width: 89%;
     height: 520px;
     display: flex;
   margin-top: -30px;
   background: white;
   max-width: 60%;
   margin-left: 220px; 
}


.dut{
   width: 50%;
   margin-left: 50px;
}


.header{
    padding-top: 40px;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vrt{
    display: flex;
    padding-top: 10px;
}

.iop{
    padding-top: 10px;
    cursor: pointer;
}
.card{
    color: #528FF0;
    margin-left: 16px;
font-size: 30px;
}

.card i{
    padding-top: 28px;
 
}

.strong{
    padding-top: 23px;
    margin-left: 12px;
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pin{
    font-size: 14px;
}




.card img{
    padding-top: 13px;
    margin-left: -10px;
    
}


.benefits-hr {
    width: 25px;
   margin-top: 28px;
    // margin-bottom: 1px;
    height: 3px;
    background: #528FF0;;
    margin-left: 20px;
 
}

a{
    color: white;
}

.sut{
    width: 50%;

 }


 .dun{
     padding-top: 10px;
     margin-left: 30px;
 }

 .poi{
     font-size: 14px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .sun{
     font-size: 21px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: 570;
 }


 .color{
    width: 35px;
    // margin-top: 20px;
   height: 3px;
     background: #528FF0;
    margin-left: 0px;
}


.gat{
    margin-left: 31px;
}


.pik{
    padding-top: 18px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 18px;
}



.cart{
  display: block;
  color: gray;

}

.dul input{
    width: 90%;
   margin-top: 6px;
   border: 1px solid #ddd;
   height: 29px;
  outline-color:#528FF0;
}


.bin{
    display: flex;
}
.verna{
    padding-top: 17px;
}
.verna input{
    border: 1px solid #ddd; 
    outline-color:#528FF0;
    width: 40%;
    margin-top: 5px;
    height: 28px;
//   text-align: center;
padding: 0px 15px;
   font-size:15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.uiok{
    padding-top: 17px;
}

.uiok input{
    border: 1px solid #ddd; 
     outline-color:#528FF0;
    width: 20%;
    margin-top: 5px;
    height: 28px;
//   text-align: center;
padding: 0px 27px;
   font-size:15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.dus{
    padding-top: 20px;
}


.dus input{
    width: 90%;
    margin-top: 6px;
    border: 1px solid #ddd;
    height: 29px;
   outline-color:#528FF0; 
}


.dil{
    padding-top: 15px;
}

.btn{
    width: 91%;
    height: 40px;
    background-color: #528FF0;
    color: white;
    border: 1px solid #528FF0;
    cursor: pointer;
    font-weight: 560;
    font-family: sans-serif;
    font-size: 16px;
}


.pink{
    text-align: center;
    color: #528FF0;
    font-weight: 570;
    font-family: sans-serif;
    cursor: pointer;
}

.darr{
   text-align: center;
   cursor: pointer;
}
.darr img{
    width: 23%;
    padding-top: 2px;
}


.sher{
    margin-top: 50px;
    // margin-left: 70px;
    text-align: center;


}

.ou{
    color: #8894ba;
    margin-left: 10px;
}




