


<div class="bile">
    <div class="hint">
        <img src="	http://app.prideeducare.com/studentlogin.2ea446009244b538abfa.png">
    </div>


    <div class="bat">
        <div class="sit">
            <img _ngcontent-gvk-c10="" id="profile-img" src="http://app.prideeducare.com/assets/site-logo-png.png">
        </div>

        <div class="form">
            <label>Username</label>
            <div class="bit">
                <input type="email" name="" placeholder="Enter Username">
                <span></span>
            </div>

         </div>

        <div class="form">
            <label>Password</label>
            <div class="bit">
                <input type="password" name="" placeholder="Enter Password">
                <span></span>
            </div>

         
        </div>

        <div class="bulk">
          <a routerLink="/students">  <button class="btn">Sign In</button></a>

            <p class="hyu">Forgot the password?</p>
        </div>
</div>
</div>

<div class="vit">
<div class="uyt">
    <div class="oi">
        <img src="	http://app.prideeducare.com/assets/site-logo-png.png">
        <p class="white">1/2 Kapadia Chambers, Ground Floor, Old Nagardas Road, Andheri East, Mumbai 400069</p>
    </div>
</div>

<div class="vw">
    <div class="huy">
        © 2020 <a routerLink="/">PRIDE EDUCARE.</a> All rights reserved.
    </div>

    <div class="bil">
        Powered by <a>WEQ Technologies</a>
    </div>
</div>

</div>