
<div class="hut">

<div class="gar">

    <div class="it">
       <a routerLink="/courselist"> <button class="btn">Default Category</button></a>
        <button class="btn">Accounting</button>
        <button class="btn">Cyber Security</button>
        <button class="btn">Digital Marketing</button>
        <button class="btn">Graphic design</button>
        <button class="btn">It & Software</button>
        <button class="btn">Personality Development</button>
    </div>
 


   <div class="hint">
       <button class="button">Download our apps
   <span class="po">
       <img src="http://app.prideeducare.com/assets/googleplay.png">
   </span>
   </button>
   </div>
   </div>

   </div>

<div class="maindiv">
      
</div>