.bui{
    background-color: #262746;
    height: 88vh;
    left: 0;
    right: 0;
    margin-left: -8px;
    width: 100%;
    padding-top: 10px;
}

.nut{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 23px;
}

.val{
    display: flex;
}

// .hit{
//     width: 50%;
// }

.ui{
    width: 70%;
     margin-left: 9%;
    background: #d0edff;
    box-shadow: 0 3px 6px #000;
    border-radius: 8px;
    height: 250px;
    margin-top: -16px;

}

 
.pin{
    font-weight: 600;
    font-size: 20px;
    padding: 4px 5px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.ui img{
    height: 65px;
    margin-bottom: 20px;

  padding-left: 20px;
}

.in{
    text-align: center;
    padding-top: 10px;

}

.btn{
    background: #0064e6;
    border:#0064e6 ;
    height: 32px;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.buil{
    margin-top: -22px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.hiu{
    height: 225px;
    width: 35%;
    background: #383876;
margin-left: 5%;
border-radius: 7px;
box-shadow: 0 3px 10px #00000029;  
text-align: center; 
margin-top: 40px;
}

.yield{
   text-align: center;
   color: white;
   font-size: 13px;
   letter-spacing: 1px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 5px;
}

.hiu img{
    width: 10%;
    
}

.op{
    color: white;
    font-weight: 600;
}


.oi{
    text-align: right;
    padding-top: 40px;
   margin-right: 3%;
}

.oi img{
width: 15%;


background: #fff;
}

.white{
    color: white;
    max-width: 300px;
   font-size: 17px;
   margin-left: 79%;
}

.vw{
    display: flex;
}
.huy{
   color: white;
   padding-top: 10px;
   margin-left: 6px;
   width: 50%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.huy a{
    color: #3c8dbc;
    text-decoration: none;
}

.bil{
  text-align: right;
  width: 50%;
  color: white;
  padding-top: 10px;
  margin-right: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bil a{
    color: #3c8dbc;
    text-decoration: none;
}