
<div class="bui">
    <div class="nut">100s of companies offering jobs everyday!</div>


    <div class="val">

        <div class="yl">

            <div class="ui">

                <p class="pin">Leading Companies are Hiring Pride Students</p>

                <img _ngcontent-lqj-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/companyLogo/L+%26+T.png"
                    class="ng-star-inserted">
                <img _ngcontent-lqj-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/companyLogo/airtel.png"
                    class="ng-star-inserted">
                <img _ngcontent-lqj-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/companyLogo/itc.png"
                    class="ng-star-inserted">
                <img _ngcontent-lqj-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/companyLogo/lic.png"
                    class="ng-star-inserted">
                <img _ngcontent-lqj-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/companyLogo/tata.png"
                    class="ng-star-inserted">
                <img _ngcontent-lqj-c8=""
                    src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/companyLogo/yes+bank.png"
                    class="ng-star-inserted">

            </div>
            <div class="in">
                <button class="btn">View Job Postings</button>
            </div>
        </div>



        <div class="hiu">
            <div class="buil">Happy Students</div>
            <p class="yield">“I feel great studying at Pride Education and getting great opportunity as well as support
                from faculties & placement officers. It is dream come true, being an IT engineer and getting to work
                with such a networking company in the beginning of my career.”</p>
            <img _ngcontent-lqj-c8="" src="http://app.prideeducare.com/assets/Ellipse-67.png">
            <p class="yield">Rishi Bhardwaj, Software Developer</p>
            <p class="op">Capgemini - Mumbai</p>
        </div>
    </div>


    <div class="uyt">
        <div class="oi">
            <img src="	http://app.prideeducare.com/assets/site-logo-png.png">
            <p class="white">1/2 Kapadia Chambers, Ground Floor, Old Nagardas Road, Andheri East, Mumbai 400069</p>
        </div>
    </div>

    <div class="vw">
        <div class="huy">
            © 2020 <a routerLink="/">PRIDE EDUCARE.</a> All rights reserved.
        </div>

        <div class="bil">
            Powered by <a>WEQ Technologies</a>
        </div>
    </div>
</div>