

<div class="dall">
    <div class="boo">
    <div class="too">
   
 
   

   <div class="vrt">
    <p>Certifications</p>
    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/certificateImages/certi_logo_1.jpeg">
    
    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/certificateImages/certi_logo_2.jpeg">

    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/certificateImages/certi_logo_3.jpeg">

    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/certificateImages/certi_logo_4.jpeg">

    
   </div>
   <div class="vrt">
       <p>Achievement</p>
    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/125%2B+faculty.png">
  
    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/250%2B+hiring+partners.png">

    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/50000%2B+students.png">

    <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/75%2B+courses.png">
 </div>
   </div>

   
   
 
   


    
 

   <div class="krn">
       <div class="bit">
        <img _ngcontent-fbr-c8="" class="registerimg" src="http://app.prideeducare.com/assets/Rectangle-441.png">
         <div class="vada">
             Download our Mobile Apps
                <span class="poi"><i class="fa fa-play"></i></span>
                <span class="poi"><i class="fa fa-apple"></i></span>
             
          	

         </div>

         <div class="hilt">
             <span class="po"> +91 <a href="">|</a> </span>
             <input type="text" name="" placeholder="Enter your Mobile Number">
         </div>

         <div class="vind">
             <button class="btk">Text me link</button>
         </div>
    </div>
   </div>

   
   
</div>
</div>



<!-- <div class="bile">
    <p>Achievements</p>
     </div>
  
     <div class="vrt">
        <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/125%2B+faculty.png">
      
        <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/250%2B+hiring+partners.png">

        <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/50000%2B+students.png">
  
        <img _ngcontent-fbr-c8="" src="https://weq-pride.s3.ap-south-1.amazonaws.com/data/achievements/75%2B+courses.png">
     </div>

     
    </div> -->

