.dall{
    background-color: #262746;
    height: 80vh;
    left: 0;
    right: 0;
    margin-left: -8px;
    width: 100%;
    padding-top: 10px;

}


p{
   
    color: white;
    font-size: 18px;
}

.vrt{
    margin-left: 11%;
    
}
.boo{
    display: flex;
}
.too{
   
    width: 70%;

 
}

.vrt{
    margin-top: 15px;
}

.vrt img{
    height: 100px;
   width: 180px;
    margin: 0px 8px;
    border-radius: 12px;
}

.bit{
    margin-left: 0%;
    padding-top: 30px;
}
.bit img{
    height: 140px;
   width: 210px;
    padding-top: -110px;
    border-radius: 12px;
    margin-left: 10px;

}

.krn{
    background: #f3863a;
   width: 240px;
   border-radius: 10px;
   height: 300px;
}

.hilt{
    width: 212px;
    border: 2px solid rgb(241, 227, 227);
    background: white;
    height: 30px;
    display: flex;
    margin-left: 10px;
  margin-top: 10px;
}

.hilt input{
    border: none;
    outline: none;
    flex: 1;
align-items: center;
   
}

.po{
    padding-top: 6px;

   margin: 0px 3px;

}

.vada{
    margin-left: 5px;
    color: white;
    padding-top: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.poi{
    margin: 2px 4px;
   font-size: 20px;

}


.vind{
    text-align: center;
    justify-content: center;
    padding-top: 9px;
}

.btk{
    background: #0064e6;
    border-radius: 5px;
    border:#0064e6;
    height: 33px;
    width: 99px;
    cursor: pointer;
}

.btk:hover{
    color:white;
}

