<!-- <div class="dal">
    <div class="ber">
     <a routerLink="/"> <img src="http://app.prideeducare.com/assets/site-logo-png.png"></a>
    
      <div class="sern">Pride Computer Mumbai</div>
    </div>
    
      <div class="bin">
       <a routerLink="/login"><span class="kat">Login</span></a>
      </div>
    
      <div class="bin">
      <a routerLink="/register"><span class="kat">Register</span></a>
    </div>
    
    </div> -->


    <div class="shunt">
        <div class="hitler">
            <a routerLink="/"> <img src="http://app.prideeducare.com/assets/site-logo-png.png"></a>
           <span class="inl"> Pride Computer Mumbai </span> 

       
        </div>

     <div class="bu">
       <li class="tin" style="background: #238aca!important;">
        <span class="lo">My DASHBOARD</span></li>
        <li class="tin">
        <a routerLink="/profile" style="background: #238aca!important;"> <span class="lo">My Profile</span></a></li>
          <li class="tin">
            <span class="lo">Live Batch</span></li>
            <li class="tin" id="tin" [class.color]="id=== 'tin'" (click)="tabChange('tin')" >
              <span class="lo">HUZAIFA TAUFIQUE DABIR</span></li>
              <div class="content">
                <div class="content-value" *ngIf="id=== 'tin'">
         
                    <p class="pin">Huzaifa Dabir Taufique</p>
            
                     <div class="button">
                 <a routerLink="/"><button class="btn">Sign Out</button></a>
                     </div>
                </div>
              
              </div>
     </div>
    
             
       
    </div>
  
<app-student-detail></app-student-detail>