<div class="vun">

    <div class="dir">

        <div class="hir">
            <img class="img" src="http://app.prideeducare.com/assets/img/dummy_img.png">

            <li class="kal">
                <p class="pank">Username</p>
                <p class="pank">Huzaifa Dabir Taufique</p>
            </li>
            <div class="ui"></div>
            <li class="kal">
                <p class="pank">Last Login</p>
                <p class="pank">13-Sep-2021,10:27:06 AM</p>
            </li>
            <div class="ui"></div>
            <li class="kal">
                <p class="pank">Franchise Name :</p>
                <p class="pank">Pride Computer Mumbai</p>
            </li>
        </div>
    </div>


    <div class="vin">
        <div class="tn">
            <div class="uo">
                <p class="iom">My Statistics</p>
            </div>
            <div class="vn">
                <div class="sun">
                    <div id="vwer" class="text-danger">
                        <h3 class="ju">2</h3>
                        <div class="vt">
                            <p class="pug">Total Courses</p>
                            <p class="pug">Enrolled</p>
                        </div>
                    </div>

                    <div id="vwer" class="text-success">
                        <h3 class="ju">0</h3>
                        <div class="vt">
                            <p class="pug">Total Assignment</p>
                            <p class="pug">Marks</p>
                        </div>
                    </div>

                    <div id="vwer" class="text-success">
                        <h3 class="ju">0</h3>
                        <div class="vt">
                            <p class="pug">Total Marks</p>
                            <p class="pug">MCQ</p>
                        </div>
                    </div>

                    <div id="vwer" class="text-primary">
                        <h3 class="ju">0</h3>
                        <div class="vt">
                            <p class="pug">Total Lectures</p>
                            <p class="pug">Completed</p>
                        </div>
                    </div>

                    <div id="vwer" class="text-warning">
                        <h3 class="ju">0</h3>
                        <div class="vt">
                            <p class="pug">Assignment</p>
                            <p class="pug">Uploaded</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="nilo">
                <div class="vilo">
                    <p class="cor">My Activated Course (2)</p>
                </div>
                <div class="but">
                    <div class="hut">
                        <div class="jut" id="f1" (click)="on('f1')">
                            <div class="btr">
                                <img _ngcontent-jfn-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/93614java script.jpg"
                                    class="ng-star-inserted">

                                <div class="dil">
                                    <span class="poin">Course Name:</span>
                                    <span class="poins">Javascript</span>
                                    <span class="pns">Javascript > Javascript</span>
                                </div>

                                <div class="tyu">
                                    <div class="intefr">
                                        <svg width="60" height="60">
                                            <path id="bgArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 255, 255);"></path>
                                            <text id="text" class="text-value" text-anchor="middle" font-size="14px"
                                                font-weight="700" font-family="Roboto"
                                                transform="translate(30, 33.6)">0/170</text>
                                            <path id="trackArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-4.592425496802574e-15,-25A25,25,0,1,0,4.592425496802574e-15,25A25,25,0,1,0,-4.592425496802574e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(59, 62, 113);"></path>
                                            <path id="changeArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0;"></path>
                                            <path id="valueArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 111, 23);"></path>
                                            <path id="interactArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-1.8369701987210297e-16,-1A1,1,0,1,0,1.8369701987210297e-16,1A1,1,0,1,0,-1.8369701987210297e-16,-1Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0; cursor: default;">
                                            </path>
                                        </svg>
                                        <span class="tall">Assignment</span>
                                    </div>

                                    <div class="intefr">
                                        <svg width="60" height="60">
                                            <path id="bgArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 255, 255);"></path>
                                            <text id="text" class="text-value" text-anchor="middle" font-size="14px"
                                                font-weight="700" font-family="Roboto"
                                                transform="translate(30, 33.6)">0/170</text>
                                            <path id="trackArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-4.592425496802574e-15,-25A25,25,0,1,0,4.592425496802574e-15,25A25,25,0,1,0,-4.592425496802574e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(59, 62, 113);"></path>
                                            <path id="changeArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0;"></path>
                                            <path id="valueArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 111, 23);"></path>
                                            <path id="interactArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-1.8369701987210297e-16,-1A1,1,0,1,0,1.8369701987210297e-16,1A1,1,0,1,0,-1.8369701987210297e-16,-1Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0; cursor: default;">
                                            </path>
                                        </svg>
                                        <span class="tall">Text Yourself</span>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="biu" *ngIf="id==='f1'">

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 1</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Introduction of Javascript</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 2</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Operator and Variables</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 3</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Alert , Prompt , Confirm</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 4</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Functions</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 5</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Loops</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 6</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Event Handling</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 7</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Array Functions</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 8</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">String Object</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 9</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Number Object</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>

                            <div class="dike">
                                <div class="dilse">
                                 <div class="warne">Lecture 10</div>
                                 <div class="dunse">60 Mins</div>
                                 <div class="sunse">Maths Function</div> 
                                </div>
 
                                <div class="veers">
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                     <span class="ktn">0/10</span>
                                 </div>
 
                                 <div class="swert">
                                     <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                     <span class="kn">0/10</span>
                                 </div>
 
                                 <div class="botn">
                                     <button class="btn">Start Lecture</button>
                                 </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="jut" id="f2" (click)="on('f2')">
                            <div class="btr">
                                <img _ngcontent-umh-c12="" src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/37141python.jpg" class="ng-star-inserted">

                                <div class="dil">
                                    <span class="poin">Course Name:</span>
                                    <span class="poins">Python</span>
                                    <span class="pns">Python > Python</span>
                                </div>

                                <div class="tyu">
                                    <div class="intefr">
                                        <svg width="60" height="60">
                                            <path id="bgArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 255, 255);"></path>
                                            <text id="text" class="text-value" text-anchor="middle" font-size="14px"
                                                font-weight="700" font-family="Roboto"
                                                transform="translate(30, 33.6)">0/170</text>
                                            <path id="trackArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-4.592425496802574e-15,-25A25,25,0,1,0,4.592425496802574e-15,25A25,25,0,1,0,-4.592425496802574e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(59, 62, 113);"></path>
                                            <path id="changeArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0;"></path>
                                            <path id="valueArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 111, 23);"></path>
                                            <path id="interactArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-1.8369701987210297e-16,-1A1,1,0,1,0,1.8369701987210297e-16,1A1,1,0,1,0,-1.8369701987210297e-16,-1Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0; cursor: default;">
                                            </path>
                                        </svg>
                                        <span class="tall">Assignment</span>
                                    </div>

                                    <div class="intefr">
                                        <svg width="60" height="60">
                                            <path id="bgArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 255, 255);"></path>
                                            <text id="text" class="text-value" text-anchor="middle" font-size="14px"
                                                font-weight="700" font-family="Roboto"
                                                transform="translate(30, 33.6)">0/170</text>
                                            <path id="trackArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-4.592425496802574e-15,-25A25,25,0,1,0,4.592425496802574e-15,25A25,25,0,1,0,-4.592425496802574e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(59, 62, 113);"></path>
                                            <path id="changeArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0;"></path>
                                            <path id="valueArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-18.518346638693792,-23.602348141004498L-15.431955532244826,-19.66862345083708A25,25,0,1,0,1.5308084989341915e-15,-25Z"
                                                transform="translate(30, 30)" style="fill: rgb(255, 111, 23);"></path>
                                            <path id="interactArc"
                                                d="M1.83697019872103e-15,-30A30,30,0,1,1,-1.83697019872103e-15,30A30,30,0,1,1,1.83697019872103e-15,-30M-1.8369701987210297e-16,-1A1,1,0,1,0,1.8369701987210297e-16,1A1,1,0,1,0,-1.8369701987210297e-16,-1Z"
                                                transform="translate(30, 30)" style="fill-opacity: 0; cursor: default;">
                                            </path>
                                        </svg>
                                        <span class="tall">Text Yourself</span>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="biu" *ngIf="id==='f2'">
                           <div class="dike">
                               <div class="dilse">
                                <div class="warne">Lecture 1</div>
                                <div class="dunse">60 Mins</div>
                                <div class="sunse">Introduction of Python</div> 
                               </div>

                               <div class="veers">
                                <div class="swert">
                                    <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                    <span class="ktn">0/10</span>
                                </div>

                                <div class="swert">
                                    <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                    <span class="kn">0/10</span>
                                </div>

                                <div class="botn">
                                    <button class="btn">Start Lecture</button>
                                </div>
                               </div>
                           </div>
                         
                           <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 2</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Data types and variables</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      

                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 3</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Operators</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      

                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 4</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Decision Making</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      


                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 5</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Functions</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      


                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 6</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Tuple</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      

                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 7</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">List</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      

                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 8</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Events Handling</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      

                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 9</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Dictionary</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      

                        <div class="dike">
                            <div class="dilse">
                             <div class="warne">Lecture 10</div>
                             <div class="dunse">60 Mins</div>
                             <div class="sunse">Inheritance</div> 
                            </div>

                            <div class="veers">
                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-success text-white">Assignment Marks</span>
                                 <span class="ktn">0/10</span>
                             </div>

                             <div class="swert">
                                 <span class="ntn" class="p-1 mb-2 bg-warning text-white">Assignment Marks</span>
                                 <span class="kn">0/10</span>
                             </div>

                             <div class="botn">
                                 <button class="btn">Start Lecture</button>
                             </div>
                            </div>
                        </div>
                      
                           
                        </div>

                    </div>


                </div>

            </div>

        </div>

        <div class="sn">
            <div class="dyt">
                <div class="yt">
                    <p class="ytsd">Announcements</p>
                    <div class="dum">
                        View All
                    </div>

                </div>
                <div class="hint"></div>

            </div>

            <div class="honda">
                <div class="din">
                    <img class="imgs" src="http://app.prideeducare.com/assets/set-alarm.png">
                </div>

                <div class="lin">
                    <p class="put">Get ready for your next exam!</p>
                    <p class="pij">Web design Essentials is on 10th sepetember 2019</p>
                    <p class="put">Minimum Assignments:50</p>
                </div>
            </div>

            <div class="drunk">
                <div class="yt">
                    <p class="ytsd">Trending Course</p>
                    <div class="dum">
                        View All
                    </div>

                </div>

                <div class="fre">
                    <div class="fyt">
                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/73701ms excel.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">Microsoft excel</div>


                        </div>

                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/14721ms word.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">Microsoft Word</div>


                        </div>

                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/59926ms powerpopint.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">Microsoft Powerpoint</div>


                        </div>

                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/10734advance java.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">Advance Java</div>


                        </div>

                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/76352php advanced.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">Advance PHP</div>


                        </div>


                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/73749asp.net.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">ASP.Net</div>


                        </div>

                        <div class="bin">
                            <div class="vins">
                                <img _ngcontent-ist-c12=""
                                    src="http://weq-pride.s3.amazonaws.com/data/courseThumbnail/70475html.jpg"
                                    class="ng-star-inserted">
                            </div>
                            <div class="dert">HTML: Design Your webpage</div>


                        </div>

                    </div>
                </div>
            </div>

      
        </div>
</div>
<div class="uyt">
    <div class="oi">
        <img src="	http://app.prideeducare.com/assets/site-logo-png.png">
        <p class="white">1/2 Kapadia Chambers, Ground Floor, Old Nagardas Road, Andheri East, Mumbai 400069</p>
    </div>
</div>

<div class="vw">
    <div class="huy">
        © 2020 <a routerLink="/">PRIDE EDUCARE.</a> All rights reserved.
    </div>

    <div class="bil">
        Powered by <a>WEQ Technologies</a>
    </div>
</div>
</div>





    

