.vun{
    background-color: #262746;
    height: 100vw;
    width: 100%;
}



.dir {
 
    padding-top: 20px;
    margin-left: 10px;
}
.hir{
    margin-left: 50px;
display: flex;
}
.img{
    width: 8%;
    border-radius: 50%;
}

.kal{
    list-style: none;
    margin-top: 20px;

}

.pank{
    color: #9697c1;
    padding: 2px 22px;
    width: auto;
    font-size: 14px;
}

.ui{
    border-right: 1px solid white;
    height: 40px;
    margin-top: 22px;
}

.vin{
    display: flex;

}
.tn{
    width: 60%;
  
    margin-top: 30px;
    margin-left: 60px;
}

.uo{
  
    background: #0b0b1a;
    height: 30px;
}
.iom{
    color: white;
    padding: 4px 7px;
}

.vn{
    background: #1d1e3e;
    height: 120px;
    width: 100%;
    box-shadow: 0 3px 6px #000;
   
}

.sun{
    display: flex;
   
   
}

#vwer{

  padding: 3px 21px;
   margin-left: 20px;

}

.text-danger{
    border-left: 2px solid rgb(255, 30, 0);
     height: 96px;
    margin-top: 10px;
}

.text-success{
    border-left: 2px solid rgb(0, 255, 64);
     height: 96px;
    margin-top: 10px;
}



.text-primary{
    border-left: 2px solid rgb(0, 132, 255);
     height: 96px;
    margin-top: 10px;
}

.text-warning{
    border-left: 2px solid rgb(255, 157, 0);
     height: 96px;
    margin-top: 10px;

}

.ju{
    
    font-size: 28px;
}

.nilo{
    padding-top: 50px;
}

.vilo{
    background: #1d1e3e;
    width: 102%;
    height: 30px;
    
}

.cor{
    color: white;
    padding: 4px 7px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.but{
    background: #1d1e3e;
   min-height: 400px;
    width: 102%;
    box-shadow: 0 3px 6px #000;
   
}

.jut{
    background-color: #3b3e71;
    width: 98%;
    height: 120px;
    box-shadow: 0px 3px 5px #3b3e71;
    cursor: pointer;
    margin-top: 40px;
}

.hut{
    padding-top: 50px;
    margin-left: 10px;
  
  
}

.btr{
    margin-left: 20px;
   padding-top: 10px;
   display: flex;
}


.btr img{
    width: 25%;

}


.dil{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
 
}

.poins{
    font-weight: 560;
    padding: 4px;
}

.pns{
    padding-top: 10px;
}

.tyu{
    margin-left: 23%;
    border-left: 1px solid white;
    height: 80px;
}

.intefr{
    display: inline-flex;
    flex-direction: column;
   margin: 0px 10px;
}

.tall{
    color: white;
}

.biu{
     background-color: #3b3e71;
  width: 98%;
    // height: 500px;
    box-shadow: 0px 3px 5px #3b3e71; 
}

// .diu{
// //     color: white;
// //     display: flex;
// //     margin-left: 15px;
// //   padding: 5px;
//  display: flex;
// }


// .uip{
//     color: white;
//     display: flex;
//     margin-left: 15px;
//   padding: 5px;
//   width: 42%;
// }

// .van{
//     width: 55%;
//     display: flex;
// }

// .nui{
//     border-top: 1px solid red;
// }

// .duns{
//     margin-left: 15px;
// }

// .suns{
//     margin-left: 15px;
 
// }

// .swert{
//     margin-left: 10px;
//    font-size: 12px;
//    margin-left: 15px;
// }

// .ktn{
//     background-color: #197149;
//     padding: 4px 6px;
//    margin-bottom: 5px;
   
   
// }



// .kn{
//    background-color: #e69a43;
//    padding: 4px 6px;
//    margin-bottom: 5px;
  
// }

// .botn{
//     margin-left: 8px;
//     margin-top: -4px;
// }

// .btn{
//     background-color: blue;
//     color: white;
//     padding: 4px 10px;
//     font-size: 12px;
//     cursor: pointer;
// }
.sn{
    width: 40%;
}

.dyt{
    margin-left: 10%;
    margin-top: 5%;

}
.yt{
    background: #1d1e3e;
    width: 90%;
    height: 30px;
    display: flex;
}


.ytsd{
    color: white;
    padding: 4px 7px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.dum{
    border-left: 1px solid #3c8dbc;
    margin-left: 40%;
    color: #3c8dbc!important;
    padding: 5px 8px;
}


.hint{
    background: #1d1e3e;
    height: 300px;
    width: 90%;
    box-shadow: 0 3px 6px #000;
}

.honda{
    margin-top: 30px;
    margin-left: 10%;
    background: #f36235;
    width: 82%;
    height: 200px;
   display: inline-flex;
}


 .imgs{
    width: 80%;
}

.din{
    padding-top: 30px;
    margin-left: 10px;
     width: 30%;
}

.lin{
     width: 55%;
     margin-top: 40px;
  
  
}

.put{
    color: white;
    font-weight: 590;
    font-size: 16px;
}


.pij{
    color: white;
    font-size: 16px;
}


.drunk{
    padding-top: 30px;
    margin-left: 50px;
}


.fre{
    background: #1d1e3e;
    width: 90%;
    box-shadow: 0 3px 6px #000;
    // height: 190px;
    height: auto;
    max-height: 400px;
    padding-bottom: 20px;
}


.fyt{
    position: relative;
      overflow-y: scroll;
    width: auto;
    height: 300px;
     overflow-x: hidden;
     background: #1d1e3e;
     
}

.bin{
     display: flex;
    padding-top: 20px;
    margin-left: 20px;
    
}

.vins img{
     max-height: 100px;
    width: 100%;
    height: 80px;
}

.dert{
    color: white;
    padding-top: 36px;
    margin-left: 25px;
}







.dike{
    display: flex;
    border-top: 1px solid #1d1e3e;
}

.dilse{
    width: 40%;
    display: flex;
    color: white;
    margin-left: 15px;
    padding-top: 7px;
}

.veers{
    display: flex;
    width: 60%;
    padding-top: 7px;
}



.dunse{
    margin-left: 10px;
}

.sunse{
    margin-left: 10px;
 
}


.swert{
    margin-left: 10px;
   font-size: 12px;

}

.ktn{
    background-color: #197149;
    padding: 4px 9px;
   margin-bottom: 5px;
   
   
}



.kn{
   background-color: #e69a43;
   padding: 4px 9px;
   margin-bottom: 5px;
  
}

.botn{
    margin-left: 8px;
    margin-top: -9px;

   padding: 5px;
}

.btn{
    background-color: blue;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
}

.oi{
    text-align: right;
    padding-top: 40px;
   margin-right: 3%;
}

.oi img{
width: 15%;


background: #fff;
}

.white{
    color: white;
    max-width: 300px;
   font-size: 17px;
   margin-left: 79%;
}

.vw{
    display: flex;
}
.huy{
   color: white;
   padding-top: 10px;
   margin-left: 6px;
   width: 50%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.huy a{
    color: #3c8dbc;
    text-decoration: none;
}

.bil{
  text-align: right;
  width: 50%;
  color: white;
  padding-top: 10px;
  margin-right: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bil a{
    color: #3c8dbc;
    text-decoration: none;
}