<div class="belt">
    <div class="kal">
        <h4 class="hui">Benefits Of Pride Educare
        </h4>
         <hr class="uiy">

         <div class="bike">
             <ul>
               <li class="item">Start your own virtual classroom.</li>
               <li class="item">Access to latest and result oriented courses.</li>
               <li class="item">Classes are delivered by the best faculty in your institute.</li>
               <li class="item">Teaching is done in simple English, Hindi and other Indian languages.</li>
               <li class="item">Control to set the duration and timings of lectures.</li>
               <li class="item">Live webinars to update students with the recent trends in industry.</li>
               <li class="item">Webinars are conducted in Hindi.</li>
               <li class="item">Exams will be conducted by us and proper certification will be given.</li>
               <li class="item">Placement assistance for all students.</li>
             </ul>
         </div>
    </div>

    <div class="dw"></div>

    <div class="dull">
        <div class="br">
            <h5 class="vert">Amount Payable
                <span _ngcontent-kuq-c10="" class="required">*</span>
            </h5>
           <div class="op">₹4000</div>
        </div>

      
        
        <div class="ter">
          <a routerLink="/payement">  <button class="btn">Pay</button></a>
        </div>
    </div>
</div>


<div class="buy">
  

    <div class="shu">
        <p class="parrot">3</p>
        <span class="put">Payment</span>
    </div>
</div>


<div class="tere">
<div class="uyt">
    <div class="oi">
        <img src="	http://app.prideeducare.com/assets/site-logo-png.png">
        <p class="white">1/2 Kapadia Chambers, Ground Floor, Old Nagardas Road, Andheri East, Mumbai 400069</p>
    </div>
</div>

<div class="vw">
    <div class="huy">
        © 2020 <a routerLink="/">PRIDE EDUCARE.</a> All rights reserved.
    </div>

    <div class="bil">
        Powered by <a>WEQ Technologies</a>
    </div>
</div>
</div>